<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hard Coded HTML Page</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <div id="content">
        <div class="nav">
            <a href="home.html">
                <h1 class="title">Paddy's Pub</h1>
            </a>
            <img class="frank-head" src="../img/frank.png" alt="Frank Reynolds Restaurant Logo">
            <div class="nav-items">
                <div></div>
                <div><a href="menu.html">Menu</a></div>
                <div><a href="about.html">About</a></div>

            </div>
        </div>
        <div class="main-content main-content-image about-content">
            <div class="main-content-item contact">
                <h3>Contact</h3>
                <div class="address">
                    <img src="../img/address.svg" alt="Address Icon">
                    <p>1443 South 3rd Street, Philadelphia, PA 19147</p>
                </div>
                <div class="phone">
                    <img src="../img/contact.svg" alt="Contact Icon">
                    <p>(267) 494 - 9167</p>
                </div>
            </div>
            <div class="main-content-item team">
                <h3>Our Team</h3>
                <div class="team-item">
                    <img src="../img/frank-reynolds.jpeg" alt="Frank Headshot">
                    <p class="name">Frank Reynolds</p>
                    <p>Owner / CEO Frank's Fluids</p>
                </div>
                <div class="team-item">
                    <img src="../img/charlie.jpeg" alt="Frank Headshot">
                    <p class="name">Charlie Kelly</p>
                    <p>Janitor / Wildcard</p>
                </div><div class="team-item">
                    <img src="../img/dennis.jpeg" alt="Frank Headshot">
                    <p class="name">Dennis Reynolds</p>
                    <p>Golden God / Five Star Man</p>
                </div><div class="team-item">
                    <img src="../img/mac.jpeg" alt="Frank Headshot">
                    <p class="name">Ronald "Mac" Mcdonald</p>
                    <p>Bouncer / Bodyguard</p>
                </div><div class="team-item">
                    <img src="../img/dee.jpeg" alt="Frank Headshot">
                    <p class="name">Dee Reynolds</p>
                    <p>Bartender / Bird</p>
                </div>
            </div>
        </div>
        <div class="footer">
            Copyright © 2022 jackwatters45
            <a href="https://github.com/jackwatters45/" target="_blank"><img class="github-logo"
                    src="../img/github-logo.png" alt="Github Logo"></a>
        </div>
    </div>
</body>

</html>