<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hard Coded HTML Page</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="shortcut icon" href="../img/frank.png" type="image/x-icon">
</head>

<body>
    <div id="content">
        <div class="nav">
            <a href="home.html">
                <h1 class="title">Paddy's Pub</h1>
            </a>
            <img class="frank-head" src="../img/frank.png" alt="Frank Reynolds Restaurant Logo">
            <div class="nav-items">
                <div></div>
                <div><a href="menu.html">Menu</a></div>
                <div><a href="about.html">About</a></div>

            </div>
        </div>
        <div class="main-content main-content-image">
            <div class="main-content-item main-content1">
                Welcome to Paddy's Pub, the oldest pub in America.
            </div>
            <div class="main-content-item main-content2">
                We have a variety of old liquors served in strange containers. We are packed with celebrities - the
                fun ones. We also have conckfights and strippers. And gues what. We don't have a sign, so good luck
                finding the place. But, if you do, you'll be lucky 'cause we also got donkey shows, Mötley Crüe and
                cake.
            </div>
            <div class="main-content-item main-content2">
                Paddy's Pub has been around since 1773 and has been operated by the same family since its founding.
                During the revolutionary war, it acted not just as a pub but as a base for those who
                sought independence from the British. It was the location of the Liberty Bell's cracking. During
                this era, Paddy's Pub was known as Patrick's Pub. The owners were not supporters of independence and
                actually planned to gain favor with the British. However all their plans ended disastrously and they
                unwittingly aided the revolution after causing the death of Colonel Cricket of the British army.
            </div>
        </div>
        <div class="footer">
            Copyright © 2022 jackwatters45
            <a href="https://github.com/jackwatters45/" target="_blank"><img class="github-logo"
                src="../img/github-logo.png" alt="Github Logo"></a>
            </div>
    </div>
</body>

</html>