<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hard Coded HTML Page</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/menu.css">
    <link rel="shortcut icon" href="../img/frank.png" type="image/x-icon">
</head>

<body>
    <div id="content">
        <div class="nav">
            <a href="home.html">
                <h1 class="title">Paddy's Pub</h1>
            </a>
            <img class="frank-head" src="../img/frank.png" alt="Frank Reynolds Restaurant Logo">
            <div class="nav-items">
                <div></div>
                <div><a href="menu.html">Menu</a></div>
                <div><a href="about.html">About</a></div>
            </div>
        </div>
        <div class="main-content">
            <div class="menu-section">
                Platters
                <ul class="menu">
                    <li><strong>Cheese is a funny thing</strong> block of cheese, old cheese, cottage cheese, crow
                        egg, quail egg</li>
                    <li><strong>Dee's a Giant Bird</strong> crow, dragon, human meat (racoon), barnacles, deleware
                        river runoff crab, pigeon</li>
                    <li><strong>All the Best Foods are Blue</strong> blueberries, blue powerade, blue sludge</li>
                    <li><strong>Get out of Jail</strong> all the ingredients of a cake</li>
                </ul>
            </div>
            <div class="menu-section">
                Entres
                <ul class="menu">
                    <li><strong>Milk Steak</strong> boiled in milk over hard w/ a side of jelly beans</li>
                    <li><strong>Denim Chicken</strong> fried and served in jeans</li>
                    <li><strong>Mac's Famous Mac and Cheese</strong> made with the love of a happy suburban household
                    </li>
                    <li><strong>Bagged Spagetti</strong> what is your spaghetti policy here?</li>
                    <li><strong>Rum Ham</strong> soaked in rum having two pineapple rings for eyes and a red cherry for
                        a nose</li>
                    <li><strong>Chimichanga in a Trash Bag</strong> breathe and eat! Separately!
                    </li>
                </ul>
            </div>
            <div class="menu-section">
                Sandwiches
                <ul class="menu">
                    <li><strong>Grilled Charlie</strong> two slices of bread, cheese and peanut butter on the outside
                        and chocolate syrup and butter on the inside</li>
                    <li><strong>Grilled Frank</strong> pancake with jelly with a whole stick of butter with bacon,
                        sausage, and spam</li>
                    <li><strong>Hoagie in Your Mouth</strong> tastes better if you make it in your mouth</li>
                    <li><strong>Chicken Sandwich</strong> prepared with beak, the way charlie likes it</li>

                </ul>
            </div>
            <div class="menu-section last-section">
                Drinks
                <ul class="menu">
                    <li><strong>Fight Milk</strong> a mixture of crow egg, milk, and vodka</li>
                    <li><strong>Riot Punch</strong> grain alcohol and punch</li>
                    <li><strong>Monkey Beer</strong> beer, whiskey, and human milk</li>
                    <li><strong>Wine in coke can</strong> frank's incredibly inconspicuous concoction</li>
                    <li><strong>Basement Juice</strong> green paint</li>
                </ul>
            </div>
        </div>
        <div class="footer">
            Copyright © 2022 jackwatters45
            <a href="https://github.com/jackwatters45/" target="_blank"><img class="github-logo"
                    src="../img/github-logo.png" alt="Github Logo"></a>
        </div>
    </div>
</body>

</html>