@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    /* font-family: roboto, "Clear Sans", "Helvetica Neue", Arial, sans-serif; */
    font-weight: 500;
}

:root {
    --sunny-yellow-color: #fcf712;
    background-color: var(--sunny-yellow-color);
    color: black;
    line-height: 1.5;

}

/* General styles */
a {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.shadow {
    box-shadow: 5px 10px 25px rgba(0, 0, 0, .5);
}

a:hover {
    opacity: 0.7;
}

ul.menu {
    list-style-type: none;
    text-align: left;
}

/* Layout */
#content {
    display: grid;
    grid-template-rows: 60px 1fr 30px;
    height: 100vh;
    margin: 0 auto;
}

/* Nav */
.nav {
    display: grid;
    grid-template-columns: 1fr 75px 1fr;
    align-items: center;
    padding: 0px 25px;
}

.title {
    font-size: 18px;
}

.frank-head {
    width: 75px;
}

.nav-items {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    justify-items: center;
}

.nav-items>div {
    padding: 5px;
}

/* Main Content */
.main-content-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/paddys-pub.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.main-content-item {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin: 1rem 2rem;
    padding: 1rem 2rem;
    font-size: 22px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
    max-width: 800px;

}

.main-content1 {
    font-size: 36px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.menu-section {
    max-width: 500px;
    margin-top: 40px;
    font-size: 26px;
}

ul.menu>li {
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    line-height: 2;
}

.last-section {
    margin-bottom: 50px;
}

.contact>div {
    display: flex;
}

.main-content-item.contact,
.main-content-item.team {
    margin: 1rem;
    padding: 1rem;
    min-width: 700px;
}

.phone>p,
.address>p {
    font-weight: 300;
    margin-left: 10px;
}

.team-item {
    background-color: rgba(252, 247, 18, 0.3);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 150px 1fr;
    width: 100%;
}

.team-item>.name {
    align-self: flex-end;
    font-size: 32px;
}

.team-item>img {
    grid-row: 1 / -1;
    height: 150px;
}

.team>* {
    margin-bottom: 20px;
}

/* Footer */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer>a {
    display: flex;
}

.github-logo {
    height: 20px;
    margin: auto 0;
}